<h1>Add property</h1>
<form action="/properties" method="post">
	
  <br>Name:<br>
  <input type="text" name="title" placeholder="Property"><br>
  <br>
  Description:<br>
  <textarea name="body" form="body" placeholder="Add some description"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>