<h1>View Property</h1>
Property: <%=@property.title%><br>
Description: <%=@property.body%><br>

<%byebug%>
<%if authentication? (@property.user_id)%>
<a href="<%=@user.id%>/edit">Edit Property</a><br>
<%end%>
